/* Coolors Exported Palette - coolors.co/584b53-9d5c63-d6e3f8-f3c677-fef5ef */

/* HSL */
$color1: hsla(323%, 8%, 32%, 1);
$color2: hsla(354%, 26%, 49%, 1);
$color3: hsla(217%, 71%, 91%, 1);
$color4: hsla(38%, 84%, 71%, 1);
$color5: hsla(24%, 88%, 97%, 1);

/* RGB */
$color1: rgba(88, 75, 83, 1);
$color2: rgba(157, 92, 99, 1);
$color3: rgba(214, 227, 248, 1);
$color4: rgba(243, 198, 119, 1);
$color5: rgba(254, 245, 239, 1);